<% mc_class = typeof(model_content_classes) == "undefined" ? [] : model_content_classes %>
<% mc_class.push("modal-content") %>
<% md_class = typeof(modal_dialogue_classes) == "undefined" ?  [] :  modal_dialogue_classes %>
<% md_class.push("modal-dialog") %>

<% backdrop = typeof(backdrop) == "undefined" ? "false" : backdrop %>
<% keyboard = typeof(keyboard) == "undefined" ? "false" : keyboard %>

<div id="<%= modal_id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="patient_form" aria-hidden="true" data-backdrop="<%= backdrop %>" data-keyboard="<%= keyboard %>">
  <div class="<%= md_class.join(" ") %>" role="document">
    <div class="<%= mc_class.join(" ") %>">
      <% if(typeof(no_header) == "undefined" ) { %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <img src="./img/cross_icon.png" />
            </span>
          </button>
          <h4 class="modal-title" id="patient_form"><%= modal_title %></h4>
        </div>
      <% } %>
      <div class="modal-body">
        <%= modal_body %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->