<div class="outer">
  <div class="middle">
    <div class="inner">
      <div class="row">
        <form class="loginTable loginForm">
          <div class="row"><input id="email"    type="text"     class="password" name="email" placeholder="Please enter your login id" value="mark@capsicohealth.com"></div>
          <div class="row"><input id="password" type="password" class="password" name="pswd"  placeholder="Please enter your password" value="demoCap!"></div>
          <div class="row"><button class="btn btn-default login-submit-btn" id="login" type="submit">Continue</button></div>
        </form>
      </div>
      <div class="row">
        <img class="logo-img" src="img/bg/logo.png">
      </div>
      <div class="copy-right">
        <i class="fa fa-copyright"></i>
        &copy; CapsicoHealth Inc., <%= strftime("%Y", new Date()) %>, version: <%= version %>
      </div>

    </div>
  </div>
</div>